
<ion-header>
  <ion-navbar>
    <ion-title>{{leis.length}} Leis Encontradas</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

        <ion-card *ngFor="let lei of leis" text-wrap>
          <ion-card-title>
          <strong>Numero: </strong>{{ lei.numero }}
          </ion-card-title>
          <ion-card-content>
            <p>
              {{ lei.ementa }}
            </p>
          </ion-card-content>
          <ion-row no-padding>
            <ion-col (click)="favoriteLei(lei)">
              <button ion-button clear small color="danger" icon-start>
                <ion-icon *ngIf="!lei.favorita" name='star-outline'></ion-icon>
                <ion-icon *ngIf="lei.favorita" name='star'></ion-icon>
                Favorita
              </button>
            </ion-col>
            <ion-col (click)="abrir(lei)" text-right>
              <button ion-button clear small color="danger" icon-start>
                <ion-icon name='share-alt'></ion-icon>
                Abrir Pdf
              </button>
            </ion-col>
          </ion-row>
        </ion-card>

</ion-content>
