<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-grid>
      <ion-row>
        <ion-col col-3 offset-4 >
          <ion-title>Favoritas</ion-title>
        </ion-col>
        <ion-col col-5>
          <img src="assets/imgs/logo_cg_leis.png" alt="logo cgleis" style="float:right;" height="35"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <button ion-button full (click)="goToLeis()" >Favoritas {{leis.length}}</button>
   <button ion-button full color="danger" (click)="limparFavoritas()" >Limpar</button>
</ion-content>
