<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-grid>
      <ion-row>
        <ion-col col-3 offset-4>
          <ion-title>Pesquisa</ion-title>
        </ion-col>
        <ion-col col-5>
          <img src="assets/imgs/logo_cg_leis.png" alt="logo cgleis" style="float:right;" height="35" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
    </ion-card-header>

    <ion-list>
      <ion-item>
        <ion-icon name="ios-grid-outline" item-start></ion-icon>
        <ion-input type="number" placeholder="Número"  [(ngModel)]="pesquisa.numero" ></ion-input>
      </ion-item>
      <ion-item>
          <ion-icon name="ios-paper-outline" item-start></ion-icon>
          <ion-label class="label-form">Especie</ion-label>
      </ion-item>
      <ion-item>
        <ion-select  [(ngModel)]="pesquisa.especie">
          <ion-option>Leis</ion-option>
          <ion-option>Decretos</ion-option>
          <ion-option>Leis Consumeristas</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon name="ios-calendar-outline" item-start></ion-icon>
        <ion-label class="label-form">Ano</ion-label>
      </ion-item>
      <ion-item>
        <ion-select  [(ngModel)]="pesquisa.ano">
          <ion-option *ngFor="let i of anos">{{i}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
          <ion-icon name="ios-paper-outline" item-start></ion-icon>
          <ion-label class="label-form">Busca Textual</ion-label>
      </ion-item>
      <ion-item>
        <ion-label floating>Ementa</ion-label>
        <ion-input
           type="text" [(ngModel)]="pesquisa.ementa">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Busca no Texto</ion-label>
        <ion-input
           type="text"  [(ngModel)]="pesquisa.buscaTextual">
        </ion-input>
      </ion-item>
      <ion-item>
        <button ion-button icon-right round block color="secondary" (click)="alertPesquisaGenerica(pesquisa)">
          Pesquisar
          <ion-icon icon-right name="ios-search-outline"></ion-icon>
        </button>
      </ion-item>
      <ion-item>
        <button ion-button icon-right round block color="danger" (click)="limpar()">
          Limpar
          <ion-icon icon-right name="ios-trash-outline"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
